.footer {
  margin-top: rem(50);
}

.icon__wrapper {
text-align: center;
  ul {
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
}

.icon__list {

  &--item {
    margin-right: rem(10);
    padding: rem(8);

    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: $color-white;
      background-color: $color-grey--dark;
      border-radius: 10px;
    }
    &:focus {}

  }
}

.copyright {
  color: $color-grey--medium;
  font-size: rem(14);
}