.instagram--wrapper {
  margin: 0 auto;
  max-width: 100%;
  padding: rem(30) rem(15);
  max-width: rem(1250);
  @extend %clearfix;

}

.instagram--feed {
  margin: 0 auto;
  max-width: 1250px;
  width: 100%;
}

.instagram--post {
  float: left;
  width: 100%;
  margin-bottom: rem(30);
  background-color: $color-white--dark;
}

.instagram--link,
.instagram--link:hover {
  border: 0;


}

.instagram--image {
  vertical-align: top;
  width: 50%;
  max-width: 50%;

}

.instagram--caption {
  float: right;
  width: 50%;
  max-width: 50%;
  padding: rem(10);
}

.button--instagram {
  margin: 0 auto;
  display: table;
  padding: rem(20) rem(40);

  a {
    color: lighten($color-grey--dark, 30%);
    border: none;
  }
}


// Instagram with four colums ** 450px+ **
//@media screen and (min-width: $mq-medium) {
  //.instagram--post {
    //width: 23.5%;
    //float: left;
    //margin-right: 2%;

    //&:nth-child(2n+2) {
   //   margin-right: 0;
   // }
 // }
// }

// Instagram with six colums **901px+ **
// @media screen and (min-width: $mq-large) {
 // .instagram--post {
   // float: left;
   // width: 14.5%;

//    &:nth-child(n) {
     // margin-right: 2%;
  //  }

    //&:nth-child(6n+6) {
      //margin-right: 0;
    //}
 // }
// }
