$block: '.nav';

#{$block} {
  clip: rect(0,0,0,0);
  max-height: 0;
  overflow: hidden;
  display: block;
  transition: max-height 100ms;
  -webkit-transition: max-height 100ms;
  margin-top: rem(71);
}

#{$block}__show {
  max-height: 9999px;
}

#{$block}__list {
  padding-left: 0;
  margin-bottom: 0;
}

#{$block}__item {

  border-top: 1px solid $color-grey--light;
  padding: rem(10) rem(10);
}
#{$block}__link {
  color: $color-grey--dark;
  border: none;
  font-size: $base-font-size;

  &:hover {
    border: none;
  }

}


.header--wrapper {
  @extend %clearfix;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: $color-white;
  opacity: 0.9;

  &--icon {
    float: left;
    margin-left: rem(8);

    a {


    border: none;
    }
    }

  &--menu {
    font-size: rem(42);
    float: right;

    a {
      border: none;
      color: $color-grey--dark;

      &:active {
        transform: rotate(180deg);
      }
    }
  }
  }




